$black: #000;
$white: #fff;

$gray-light: #F1F1F1;
$gray-border: #E5E5E5;
$gray-border-hover: #cfcfcf;
$gray-border-dark: #4E4E4E;
$gray: #1C1C1C;
$gray-dark: #0e0b0b;
$gray-darker: #333;
$gray-disabled: #b3b3b3;
$gray-disabled-dark: #555;

$red: #A60F27;
$green: #228848;

$blue: #0076a8;
$blue-light: #3FA4EC;
$blue-dark: #002855;
